
body {
    
  text-align: center;
    
}


html {
  
  /* Setting smooth scrolling behavior */
	scroll-behavior: smooth;
	
}

/**/
/* Navbar */
/**/

.navbar-light .navbar-brand {
    color: #316293;
}

/* Change the brand font size */
.navbar-brand-custom {
    font-size: 28px;
    font-weight: bold;
}

.navbar-light .navbar-brand:hover {
    color: #F28C28;
}

.navbar-light .navbar-brand:focus {
    color: #316293;
}

.navbar-brand-custom-second-word {
    font-weight: normal;
}

/* Align text to right */
.navbar-custom {
    text-align: right;
    border-bottom: 2px solid #316293;
    background-color: rgba(255, 255, 255, 0.97);
}

.navbar-nav {
    margin-left: auto;
    font-size: 20px;
}

.linked-header {
    color: #316293;
    font-weight: bold;
    font-size: 36px;
}

.linked-header-second-word {
    color: #316293;
    font-weight: normal;
}

hr.header {
    
    border-top: 2px solid #708090;
    width: 30%;
    min-width: 275px;
    
}

/**/
/* Download button */
/**/

.btn {
    line-height: 30px;
    background-color: #FFFFFF;
    color: #316293;
    border-color: #316293;
}

.btn:hover, .btn:focus, .btn:active {
    background-color: #316293;
    color: #FFFFFF;
    border-color: #316293;
}

/**/
/* Landing Image */
/**/

.bg {
    
    background-image: url("images/rit_profile.jpg");
    /*background-image: url("images/landing_image.jpg");*/
    
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    /* Full height */
    height: 100%;
    min-height: 900px;
    width: auto;
    
    border-bottom: 2px solid #316293;
    -webkit-filter: grayscale(10%); /* Safari 6.0 - 9.0 */
    filter: grayscale(10%);
    
}

.banner {
    
    position: absolute;
    left: 42%;
    top: 70%;

    transform: translate(-50%, -50%);
    
    color: #FFFFFF;
    text-align: left;
    white-space: nowrap;

}

.my-name {
    font-size: 70px;
    font-weight: bold;
    margin-bottom: -1rem;
}

.last-name {
  
    font-weight: normal;
    text-shadow: 1px 1px 1px #696969; /* Text shadow in gray */
    
}

.my-descriptors {
  
    font-size: 30px;
}

/**/
/* Section Backgrounds */
/**/

.bg-gray {
  
  /* Light gray color */
  background-color: #f4f4f4;
  padding-top: 75px;
  padding-bottom: 75px;
  
}

.bg-contact {
  
  padding-top: 50px;
  padding-bottom: 100px;
  
}

.bg-about-me {
  
  padding-top: 75px;
  padding-bottom: 75px;
  
}

/**/
/* Publication Photos */
/**/

.publication-container {
  position: relative;
  width: 50%;
}

.publication-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: auto;
  height: 100%;
  max-height: 300px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.publication-overlay {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 95%;
  opacity: 0;
  transition: .5s ease;
  background-color: #316293;
}

.publication-container:hover .publication-overlay {
  opacity: 0.9;
}

.publication-text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

/* Publication Hover Text */

a.publication-a:hover {
    color:rgba(255, 255, 255, 1);
}


/**/
/* Contact */
/**/

.contact-image {
  
  display: block;
  margin: auto;

  /* Dimensions */
  height: auto;
  width: 100%;
  max-width: 75px;

  /* Border values */
  padding: 4px;
}



